@import "../../scss/mixins.scss";

.benefitsBar {
    padding-top: 20px;
    padding-bottom: 20px;
    h2 {
        color: var(--dark-gray);
        text-align: center;
        font-size: 16px;
        font-weight: 900;
    }

    .benefitItem {
        @include border-radius(10px);
        background-color: var(--light-gray);
        display: flex !important;
        padding: 15px 20px;
        align-items: center;
        gap: 13px;
        font-size: 12px;

        strong {
            font-size: 14px;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 1024px) {
    .benefitSlide {
        .swiper-wrapper {
            margin-left: 15px;
        }
    }

    .benefitsBar {
        h2 {
            margin-bottom: 20px;
        }
    }
}
