@import "~bootstrap/scss/bootstrap";
@import "../scss/mixins.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@media (min-width: 1598px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1598px;
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --light-gray: #efefef;
  --neutral-gray: #c4c4c4;
  --gray: #666666;
  --dark-gray: #353535;
  --orange: #faa500;
  --light-orange: #ffb31c;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

figure {
  position: relative !important;
  width: auto;
  height: auto;

  img {
    position: static !important;
    object-fit: contain;
    top: 0;
    left: 0;
  }
}

.carousel-indicators {
  button {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    @include border-radius(100%);
    border: 2px solid var(--orange) !important;
    opacity: 1 !important;
    margin-left: 0 !important;
    margin-right: 16px !important;

    @media screen and (max-width: 1024px) {
      width: 8px !important;
      height: 8px !important;
      border-width: 1px;
    }

    &.active {
      background-color: var(--orange) !important;
      border-color: var(--orange) !important;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.swiper-button-next {
  &:after {
    display: none !important;
  }
  &:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAyMCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xOC45MDQ3IDE3LjI0MzZMNC42NjMzIDMxLjQ4NDlDMy45NzY0NiAzMi4xNzE3IDIuODYyOTEgMzIuMTcxNyAyLjE3NjEzIDMxLjQ4NDlMMC41MTUxMTcgMjkuODIzOEMtMC4xNzA1NTYgMjkuMTM4MiAtMC4xNzE4NzUgMjguMDI2OSAwLjUxMjE4NiAyNy4zMzk2TDExLjc5ODcgMTZMMC41MTIxODYgNC42NjAzOUMtMC4xNzE4NzUgMy45NzMxIC0wLjE3MDU1NiAyLjg2MTgyIDAuNTE1MTE3IDIuMTc2MTVMMi4xNzYxMyAwLjUxNTEzNEMyLjg2Mjk4IC0wLjE3MTcxMSAzLjk3NjUzIC0wLjE3MTcxMSA0LjY2MzMgMC41MTUxMzRMMTguOTA0NiAxNC43NTY0QzE5LjU5MTQgMTUuNDQzMiAxOS41OTE0IDE2LjU1NjcgMTguOTA0NyAxNy4yNDM2WiIgZmlsbD0iIzAwMDAwMCIvPg0KPC9zdmc+DQo=");
  }
}

.swiper-button-prev {
  &:after {
    display: none !important;
  }
  &:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDIwIDMyIiBmaWxsPSJub25lIj4NCiAgPHBhdGggZD0iTTAuNTE0OTcxIDE0Ljc1NjFMMTQuNzU2OCAwLjUxNDk3MUMxNS40NDM0IC0wLjE3MTY1NyAxNi41NTczIC0wLjE3MTY1NyAxNy4yNDM5IDAuNTE0OTcxTDE4LjkwNTIgMi4xNzYyMUMxOS41OTExIDIuODYyMTEgMTkuNTkxOCAzLjk3MzAyIDE4LjkwODEgNC42NjAzOEw3LjYyMDg3IDE1Ljk5OTZMMTguOTA3NCAyNy4zMzk2QzE5LjU5MTggMjguMDI3IDE5LjU5MDMgMjkuMTM3OSAxOC45MDQ0IDI5LjgyMzhMMTcuMjQzMiAzMS40ODVDMTYuNTU2NiAzMi4xNzE3IDE1LjQ0MjcgMzIuMTcxNyAxNC43NTYxIDMxLjQ4NUwwLjUxNDk3MSAxNy4yNDMyQy0wLjE3MTY1NyAxNi41NTY2IC0wLjE3MTY1NyAxNS40NDI3IDAuNTE0OTcxIDE0Ljc1NjFaIiBmaWxsPSIjMDAwMDAwIi8+DQo8L3N2Zz4=");
  }
}

@media screen and (max-width: 820px) {
  .productsSlide {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }
}

.modal-content {
  border: 0;
  border-radius: 0;
  background: transparent;
}

.modal-body {
  background: var(--white);
  padding: 0;
}

.modal-header {
  padding: 5px 0 !important;
  justify-content: flex-end !important;
}

.modal.show .modal-dialog {
  top: 50%;
  margin-top: -265px;
}

@media screen and (max-width: 1024px) {
  .modal.show .modal-dialog {
    margin-top: 80px;
  }
}
